<a href="https://colab.research.google.com/github/Siddhu290/Machine_Learning/blob/main/2024-07-09/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def calculate_length_without_repeats(input_string):
    seen = set()
    length = 0
    for char in input_string:
        if char not in seen:
            seen.add(char)
            length += 1
    return length


input_str = "Hello World"
length_without_repeats = calculate_length_without_repeats(input_str)
print(f"Length of '{input_str}' without repeating characters: {length_without_repeats}")

Length of 'Hello World' without repeating characters: 8

In [ ]:
string="aba"

reversed_string = string[::-1]
if string == reversed_string:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
def longest_palindrome_substring(input_string):
    if not input_string:
        return ""

    max_length = 1
    start = 0

    def expand_around_center(left, right):
        nonlocal max_length, start
        while left >= 0 and right < len(input_string) and input_string[left] == input_string[right]:
            current_length = right - left + 1
            if current_length > max_length:
                max_length = current_length
                start = left
            left -= 1
            right += 1

    for i in range(len(input_string)):

        expand_around_center(i, i)
        expand_around_center(i, i + 1)

    return input_string[start:start + max_length]


input_str = "babad"
result = longest_palindrome_substring(input_str)
print(f"Longest palindrome substring in '{input_str}' is: {result}")

Longest palindrome substring in 'babad' is: bab

In [ ]:
A=["A","B","C","D","E"]
B=[1,2,3,4,5]

print(dict(zip(A,B)))
print(list(zip(A,B)))

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}
[('A', 1), ('B', 2), ('C', 3), ('D', 4), ('E', 5)]

In [ ]:
D={'a':1,'b':2,'c':3}
print(D.items())
print(D.values())
print(D.keys())

dict_items([('a', 1), ('b', 2), ('c', 3)])
dict_values([1, 2, 3])
dict_keys(['a', 'b', 'c'])

In [ ]:
I=iter(D)
next(I)

'a'

In [ ]:
next(I)

'b'

In [ ]:
next(I)

'c'

## EDA

#### What is the standard deviation of maximum windspeed across all the days

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv("data.csv")
df.head()

df["Maximum windspeed (mph)"].std()

13.060875060425204

#### What is the difference between 50th percentile and 75th percentile of average temperature

In [ ]:
A=np.percentile(df["Average temperature (°F)"],50)
B=np.percentile(df["Average temperature (°F)"],75)

In [ ]:
B-A

12.200000000000003

#### What is the pearson correlation between average dew point and average temperature

In [ ]:
import scipy.stats as sp

In [ ]:
A=df["Average dewpoint (°F)"]
B=df["Average temperature (°F)"]
print(sp.pearsonr(A,B))

PearsonRResult(statistic=0.7596091253567395, pvalue=0.0)

In [ ]:
df['Day'] = pd.to_datetime(df['Day'], format='%d/%m/%Y')

In [ ]:
df['Month'] = df['Day'].dt.month

In [ ]:
df.groupby('Month')['Average humidity (%)'].min()

Month
1      9
2     12
3     12
4     13
5     17
6     11
7     18
8     22
9     10
10    13
11    11
12    13
Name: Average humidity (%), dtype: int64

In [ ]:
df.groupby('Month')['Maximum gust speed (mph)'].median()

Month
1     32.2
2     34.5
3     31.1
4     27.6
5     26.0
6     26.5
7     24.2
8     24.2
9     24.2
10    26.5
11    32.2
12    33.4
Name: Maximum gust speed (mph), dtype: float64

In [ ]:
df.groupby('Month')['Maximum gust speed (mph)'].max()

Month
1     255.3
2      66.7
3     255.0
4      51.0
5     255.0
6     255.0
7     255.3
8     255.0
9     255.3
10    255.0
11    255.0
12    255.3
Name: Maximum gust speed (mph), dtype: float64

####Which month has the highest median for maximum_gust_speed out of all the available records. Also find the repective value

In [ ]:
df_grouped_median[(df_grouped_median.values == df_grouped_median.max())]

Month
2    34.5
Name: Maximum gust speed (mph), dtype: float64

#### Determine the average temperature between the months of March 2010 to May 2012 (including both the months)

In [ ]:
start_date = '2010-03-01'
end_date = '2012-05-31'

In [ ]:
filtered_df = df[(df['Day'] >= start_date) & (df['Day'] <= end_date)]

In [ ]:

 filtered_df['Average temperature (°F)'].mean()

45.3322962962963

#### Find the range of averange temperature on Dec 2010

In [ ]:
filtered_df2=df[(df["Day"].dt.year==2010) & (df["Day"].dt.month==12)]

In [ ]:
filtered_df2['Average temperature (°F)'].max() - filtered_df2['Average temperature (°F)'].min()

44.8

In [ ]:
df.columns

Index(['Day', 'Average temperature (°F)', 'Average humidity (%)',
       'Average dewpoint (°F)', 'Average barometer (in)',
       'Average windspeed (mph)', 'Average gustspeed (mph)',
       'Average direction (°deg)', 'Rainfall for month (in)',
       'Rainfall for year (in)', 'Maximum rain per minute ',
       'Maximum temperature (°F)', 'Minimum temperature (°F)',
       'Maximum humidity (%)', 'Minimum humidity (%)', 'Maximum pressure ',
       'Minimum pressure ', 'Maximum windspeed (mph)',
       'Maximum gust speed (mph)', 'Maximum heat index (°F)', 'Month'],
      dtype='object')

#### out of all available records which day has the highest difference between maximum_pressure and minimum_pressure

In [ ]:
df["pressure_difference"]=df['Maximum pressure '] - df['Minimum pressure ']

In [ ]:
df.loc[df['pressure_difference'].idxmax()]

Day                         2018-03-23 00:00:00
Average temperature (°F)                   42.0
Average humidity (%)                         59
Average dewpoint (°F)                      28.1
Average barometer (in)                     29.5
Average windspeed (mph)                    12.9
Average gustspeed (mph)                    19.0
Average direction (°deg)                    279
Rainfall for month (in)                    0.09
Rainfall for year (in)                     0.09
Maximum rain per minute                    0.01
Maximum temperature (°F)                   51.4
Minimum temperature (°F)                   34.7
Maximum humidity (%)                         90
Minimum humidity (%)                         20
Maximum pressure                         29.868
Minimum pressure                         13.266
Maximum windspeed (mph)                    27.6
Maximum gust speed (mph)                   38.0
Maximum heat index (°F)                    51.4
Month                                         3
pressure_difference                      16.602
Name: 3067, dtype: object

#### How many days falls under median (i.e equal to median value) of barrometer reading.

In [ ]:
median_value = df['Average barometer (in)'].median()

In [ ]:
df[df['Average barometer (in)'] == median_value].shape[0]

534

#### Out of all the available records how many days are within one standard deviation of average temperaturem

In [ ]:
mean_temp = df['Average temperature (°F)'].mean()
std_temp = df['Average temperature (°F)'].std()

In [ ]:
lower_bound = mean_temp - std_temp
upper_bound = mean_temp + std_temp

In [ ]:
df[(df['Average temperature (°F)'] >= lower_bound) & (df['Average temperature (°F)'] <= upper_bound)].shape[0]

2092

### Print ASCII values of each character in the string

In [1]:

string = 'Hello World!'


for char in string:
    print(f"ASCII value of '{char}' is {ord(char)}")

ASCII value of 'H' is 72
ASCII value of 'e' is 101
ASCII value of 'l' is 108
ASCII value of 'l' is 108
ASCII value of 'o' is 111
ASCII value of ' ' is 32
ASCII value of 'W' is 87
ASCII value of 'o' is 111
ASCII value of 'r' is 114
ASCII value of 'l' is 108
ASCII value of 'd' is 100
ASCII value of '!' is 33

###wRITE a simple program to add to octal numbers

In [3]:
def add_octal_numbers(num1, num2):

  int1 = int(num1, 8)
  int2 = int(num2, 8)
  sum = int1 + int2
  octal_sum = oct(sum)[2:]
  return octal_sum
num1 = "123"
num2 = "456"

result = add_octal_numbers(num1, num2)

print(f"The sum of {num1} and {num2} in octal is: {result}")

The sum of 123 and 456 in octal is: 601